@import "./../../index.scss";

.Basket {
  position: relative;
  @include center-in-relative;
  bottom: 50px;
  width: 235px;
  height: 97px;
  background-image: url("./Basket.svg");

  .Apples {
    @include flex-start;
    width: 180px;
    height: 30px;
    margin: 0 auto;
  }

  button {
    position: relative;
    @include center-in-relative;
    width: fit-content;
    height: 50px;
    top: 5%;
    padding: 5px;
    background: $basket-light;
    color: $basket-dark;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s;

    &:hover {
      background: $basket-dark;
      color: $basket-light;
    }
  }
}