// Colors
$background-color: #F7F7FC;
$ground-color: #2542AA;
$body-color: #C3D1E5;
$leaves-color: #7892F0;
$apple-body-color: #F36868;
$apple-leaf-color: #ADE7BD;
$apple-stem-color: #BD8964;
$basket-dark: #5F3A25;
$basket-light: #A87253;

// Mixins
@mixin center-in-relative {
  left: 50%;
  transform: translateX(-50%);
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include flex-center-center;
}

.App {
  @include flex-center-center;
  width: 100%;
  min-height: 100vh;
}
