.Apple {
  position: relative;
  top: 124px;
  width: 50px;
  height: 50px;
  margin: 0 25px;
  background: url("./Apple.svg");
}

.Dropping {
  animation: drop .5s linear;
}

.Dropped {
  transform: translateY(376px);
}

.Basket {
  transform: translateY(-154px);
  margin: 0 5px;
  height: 30px;
}

@keyframes drop {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(376px);
  }
}